---
import { Icon } from 'astro-icon/components';
import settings from 'config/settings.js';

import Container  from '../core/Container.astro';
import Plug from './Plug.astro';

const { copyrightName, background, color, showPlug: showPlug = true } =
	Astro.props;

// Information for the footer links, based on the image provided
const footerLinks = [
	{
		text: 'Asura | Jiu-Jitsu Studio',
		url: 'https://www.instagram.com/asura_jiujitsu_studio',
		icon: 'mdi:instagram',
	},
	{
		text: 'Via G. Quarello 15a Torino',
		url: 'https://maps.app.goo.gl/1n69WiV9kNi9Pqom7',
		icon: 'mdi:map-marker',
	},
	{
		text: '392 352-5741',
		url: 'tel:+393923525741',
		icon: 'mdi:phone',
	},
];
---



<footer style={background && `--footer-bg:${background}; --footer-color:${color}`}>
	<Container>
	<div class="footer-content">
		<div class="footer-logo">
			<img src="/assets/images/asura.svg" alt={`${settings.name} Logo`} />
		</div>
		<div class="footer-links">
			{
				footerLinks.map((link) => (
					<a href={link.url} class="footer-link" target="_blank" rel="noopener noreferrer">
							<Icon name={link.icon} class="icon" />
						<span>{link.text}</span>
					</a>
				))
			}
		</div>
	</div>

	<hr class="footer-separator" />

	<p class="footer-copyright">
		Copyright © {new Date().getFullYear()} {copyrightName}
	</p>
	</Container>
</footer>

<style>

  footer {
    --footer-bg: var(--theme-primary);
    --footer-color: var(--theme-on-primary);
    min-height: 40vh;
    background-color: var(--footer-bg);
    color: var(--footer-color);
    border-top-left-radius: var(--theme-shape-radius);
    border-top-right-radius: var(--theme-shape-radius);
    padding: 2rem;
    margin: var(--section-margin, 3rem) 0;
  }
  .footer-container {
    border: 1px solid var(--theme-on-bg);
    border-radius: var(--theme-shape-radius, 1rem);
  }

  .footer-content {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .footer-logo img {
    height: 100px;
    width: 100px;
  }

  .footer-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .footer-link {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--theme-on-bg);
    text-decoration: none;
    font-size: var(--font-size-base);
  }

  .icon-box {
    border: 1px solid var(--theme-on-bg);
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .footer-separator {
    border: none;
    border-top: 1px solid var(--theme-on-bg);
    margin: 2rem 0 1rem;
  }

	hr {
		color: red;
	}

  .footer-copyright {
    text-align: center;
    font-size: var(--font-size-sm);
  }
</style>